<header class="site-header">

    <a class="site-logo-link" href="/">
        <img class="site-logo-image" src="/assets/CocoaHeads_white.png"/>
    </a>

    <h1 class="site-title">
        <a class="site-title-link" href="/">{{ site.title }}</a>
    </h1>

    <p class="site-description">{{ site.description }}</p>

    <p class="navigation">
        <a class="navigation-link" href="/">Home</a>
        <a class="navigation-link" href="/about/">About</a>
        <a class="navigation-link" href="/policies/">Policies</a>
        <a class="navigation-link" href="/submit-a-talk/">Submit a talk</a>
        <a class="navigation-link" href="/categories/videos/">Presentation Videos</a>
        <a class="navigation-link" href="/volunteering/">Volunteering</a>
    </p>

</header>
