html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  font: 16px/1.375 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #727272;
  font-weight: 400;
  margin: 0;
  padding: 0;
  word-break: break-word;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  margin: 0 0 16px;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 1em;
}

h1, h2, h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
}

h2 {
  color: #393939;
}

h3, h4, h5, h6 {
  color: #494949;
}

a {
  color: #39c;
  text-decoration: none;
}

a:hover {
  color: #069;
}

blockquote {
  border-left: 1px solid #e5e5e5;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

code, pre {
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color: #333;
  font-size: 12px;
}

pre {
  padding: 8px 15px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #e5e5e5;
}

dt {
  color: #444;
  font-weight: 700;
}

th {
  color: #444;
}

img {
  max-width: 100%;
}

strong {
  color: #222;
  font-weight: 700;
}

small {
  font-size: 0.875em;
}

hr {
  border: 0;
  background: #e5e5e5;
  height: 1px;
  margin: 0 0 20px;
}

.center-image {
  margin: 0 auto;
  display: block;
}

.aspect-block {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  margin: 1em 0;
  padding: 0;
}

.aspect-block--16-by-9 {
  padding-top: 56.25%;
}

.aspect-block > * {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* -- Meetup widget -- */

.meetup__loading,
.meetup__widget-failed {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 20px 1rem;
  background: #eee;
  font-size: 16px;
  text-align: center;
  color: #000;
  margin-bottom: 3em;
}

.meetup__widget {
  background: #eee;
  margin: 0 -1rem 3rem;
  padding: 20px 1rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
@media (min-width: 960px) {
  .meetup__widget {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: 0;
    margin-right: 0;
  }
}

.meetup__branding {
  float: right;
}
.meetup__favicon {
  display: inline-block;
  vertical-align: middle;
}
.meetup__branding-link {
  color: #a7241d;
}

.meetup__going-count {
  color: #33a71d;
}

.meetup__date {
  font-weight: bold;
  color: #393939;
}

.meetup__venue {
  color: #393939;
}

.meetup__description {
  display: none;
  margin: 0 -1rem;
  padding: 20px 1rem;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #fff;
}
@media (min-width: 640px) {
  .meetup__description {
    display: block;
  }
}

.meetup__description p {
  margin-bottom: 5px;
}

.meetup__link-failed,
.meetup__link {
  background: #a7241d;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  text-align: center;
}
.meetup__link-failed:hover, .meetup__link-failed:focus,
.meetup__link:hover, .meetup__link:focus {
  background: #ed1c40;
  color: #fff;
}
.meetup__link {
  margin: 1rem 0 0;
}


/* -- Form styling -- */

.form__group {
  display: block;
  margin: 2em auto;
}

.form__label {
  display: block;
  width: 100%;
  font: inherit;
  font-size: 1.2em;
  color: #000;
}

.form__input-text,
.form__input-textarea,
.form__input-select {
  display: block;
  width: 100%;
  border-radius: 3px;
  margin: 0.5em 0;
  padding: 0.5em;
  font: inherit;
  line-height: 1.25em;
  border: 1px solid #bbb;
  color: #000;
  background: transparent;
}

.form__input-text,
.form__input-select {
  height: 33px;
}

.form__radio-label {
  display: block;
  width: 100%;
  font: inherit;
  font-size: 1em;
  color: #000;
  margin: 0.5em 0;
}

.form__help-message {
  font: inherit;
  font-size: 0.9em;
  color: #333;
  margin: 0 0 0.5em;
}

.form__button {
  display: inline-block;
  margin: 0.5em 0;
  padding: 1em 2em;
  font: inherit;
  font-size: 1.2em;
  line-height: 1;
  border-radius: 3px;
  border: 1px solid #bbb;
  color: #000;
  background: transparent;
}

.form__button:focus,
.form__button:hover {
  border-color: #39c;
  color: #39c;
  cursor: pointer;
}


/* --- Site header, content and footer --- */

.site-header {
  margin: 20px auto 1rem;
  padding: 0 1rem 1rem;
  max-width: 960px;
}
@media (min-width: 960px) {
  .site-header {
    text-align: center;
  }
}

.site-logo-link {
  display: block;
  margin: 0 0 7px;
}

.site-logo-image {
  display: block;
  width: 109px;
  height: 99px;
}
@media (min-width: 960px) {
  .site-logo-image {
    margin-left: auto;
    margin-right: auto;
  }
}

.site-title-link {
  color: #000;
}

.navigation-link {
  display: block;
}
@media (min-width: 960px) {
  .navigation-link {
    display: inline-block;
    padding: 0 10px;
  }
}

.content__container,
.footer__container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}

.content__container:before, .content__container:after {
  content: " ";
  display: table;
}
.content__container:after {
  clear: both;
}

@media (min-width: 960px) {
  .content__container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .content__section--primary,
  .content__section--secondary {
    float: left;
    width: 50%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.page-heading,
.page-title {
  border-bottom: 1px solid #ccc;
  padding-bottom: 9px;
  margin-bottom: 2rem;
}

.page-heading + .page-title {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.post-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-item__title + .post-item__meta {
  margin-top: -1rem;
}

.post-item--video {
  margin: 0 auto;
  max-width: 640px;
}

.footer__container {
  border-top: 1px solid #ccc;
  padding-top: 3rem;
  margin-top: 2rem;
  font-size: 0.875rem;
  padding-bottom: 2rem;
}
